.container {
    display: block;
    width: calc(100% - 300px);
    color: #fff;
    margin-left: 300px;
    padding: 16px;
}

.copyright {
    font-size: 16px;
    color: #aaa;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin-left: 0;
    }
}