.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    background: #070d1b;
    height: 100vh;
    border-right: 1px solid #101624;
    overflow: auto;
    z-index: 15;
}

.profile {
    border-bottom: 1px solid #101624;
    padding: 40px 0;
}

.author {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    margin: auto;
}
.avatar > span,
.avatar {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

.content {
    width: 100%;
    padding: 16px;
    margin: auto;
}

.navigation {
    width: 100%;
}

.link {
    font-weight: 600;
    display: block;
    padding: 8px 16px;
    margin: 8px;
    color: #fff;
}

.link:hover,
.active {
    color: #fec544
}

@media (max-width: 768px) {
    .sidebar {
        transform: translate(-100%, 0);
        transition: all .5s ease-in-out;
    }
    .sidebarOpen {
        transform: translate(0, 0);
    }
}