.container {
    composes: section from './Home.module.css';
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    /*flex-wrap: wrap;*/
    gap: 32px;
    padding: 40px 0;
    margin: auto;
}
.box {
    /*width: calc(33.333333% - 32px);*/
    width: 100%;
    text-align: center;
    padding: 50px 30px;
    border-radius: 3px;
    border: 1px solid #232935;
    background-color: #101624;
    transition: all 0.4s ease;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #232935;
    background-color: #070d1b;
    padding: 16px;
    margin: auto;
    transition: border .3s ease-in-out;
    position: relative;
}

.img {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.imgActive {
    composes: img;
    opacity: 0;
    z-index: 1;
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
    transition: color .3s ease-in-out;
}

.text {
    font-size: 18px;
}

.box:hover .image{
    border-color: #fec544;
}
.box:hover .title{
    color: #fec544;
}
.box:hover .imgActive {
    opacity: 1;
}


@media (max-width: 768px) {
    .content {
        flex-wrap: wrap;
    }
}