
.container {
    composes: container from './Home.module.css';
    height: 600px;
}
.left {
    position: relative;
    height: 100%;
    background-color: #fff;
    flex: 0.6;
    padding: 90px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.right {
    min-width: 450px;
    height: 100%;
    display: flex;
    flex: 0.4;
    align-items: center;
    justify-content: center;
    background-color: #2D2D2D;
}
.sliderContainer {
    width: 500px;
    max-width: 90%;
    height: 150px;
}
.image {
    position: absolute;
    height: 500px;
    object-fit: contain;
    bottom: 0;
    right: -55%;
}
.card {
    width: 100%;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #ee1b24, #a43076, #683d7e) 1;
    font-size: 20px;
    box-sizing: border-box;
    text-align: left;
    color: #fff;
    padding: 8px 16px;
}
.card p {
    margin: 0;
}

@media (max-width: 998px) {
    .container {
        flex-direction: column;
        height: 700px;
    }
    .left,
    .right {
        flex: 1;
        width: 100%;
    }
    .image {
        right: auto;
    }
    .card {
        width: 100%;
        height: auto;
    }
}